$first-color: #f9f9f9;
$second-color: #14161f;
$border-color: rgba(0, 0, 0, 0.2);
$income-color: rgb(19, 200, 108);
$expenses-color: rgb(255, 104, 104);
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: $second-color;
	background-color: $first-color;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 60px;
	height: 150px;

	h1 {
		margin-bottom: 10px;
		font-size: 40px;
		font-weight: 200;
	}

	p {
		font-size: 20px;
	}
}

// main

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	.transactions {
		width: 1000px;

		h3 {
			margin-bottom: 30px;
			font-size: 28px;
			text-align: center;
		}
	}
	.transaction-list {
		display: flex;
	}
	.income-area,
	.expenses-area {
		margin: 0 20px;
		padding: 30px;
		width: 50%;
		border: 1px solid $border-color;
	}

	.income-area h3,
	.income-area .transaction-amount {
		color: $income-color;
		font-weight: bold;
	}
	.expenses-area h3,
	.expenses-area .transaction-amount {
		color: $expenses-color;
		font-weight: bold;
	}

	.transaction {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		border-bottom: 1px solid $border-color;

		&-name {
			font-size: 18px;
		}
		i {
			margin-right: 10px;
		}

		&:last-child {
			border-bottom: none;
		}
		.delete {
			margin-left: 10px;
			background: none;
			border: none;
			font-size: 18px;
			color: $second-color;
			cursor: pointer;
			transition: transform 0.3s;

			&:hover {
				transform: scale(0.8);
			}
		}
	}
}

h2.title {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 200;
}

// options
.options {
	padding: 30px 40px;
	width: 500px;
	border: 1px solid $border-color;

	.available-money {
		margin-top: -10px;
		text-align: center;
		font-size: 60px;
	}
	.controls {
		display: flex;
		justify-content: space-around;
		margin: 50px 0;

		i {
			margin-right: 10px;
		}
	}
	& button {
		padding: 12px 20px;
		color: $second-color;
		border: 1px solid $border-color;
		border-radius: 5px;
		background: none;
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s;

		&:hover {
			color: $first-color;
			background-color: $second-color;
		}
	}

	.style-selection {
		display: flex;
		flex-direction: column;
		align-items: center;

		.color-buttons {
			.light {
				background: $first-color;
				border: 1px solid $second-color;
			}
			.dark {
				background: $second-color;
				border: 1px solid $first-color;
			}
		}

		& button {
			margin: 0 30px;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			cursor: pointer;
			transition: transform 0.3s;

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}

.add-transaction-panel {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

	h2.title {
		margin-bottom: 0;
	}
	label {
		margin-top: 40px;
		margin-bottom: 5px;
		font-size: 26px;
	}
	small {
		margin-bottom: 15px;
		font-style: italic;
		color: #ddd;
	}
	input,
	select {
		width: 600px;
	}
	input,
	select,
	button {
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 5px;
	}
	input,
	select,
	option {
		font-size: 18px;
	}

	.panel-buttons {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	button {
		margin: 0 30px;
		padding: 15px 40px;
		font-size: 18px;
		color: #fff;
		border: 1px solid #fff;
		background: none;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: rgb(25, 27, 51);
		}
	}
}

//===========================================================================================
// MEDIA

@media (max-width: 576px) {
	header {
		height: 150px;
		margin-bottom: 0;

		h1 {
			font-size: 30px;
		}
		p {
			font-size: 20px;
		}
	}

	main {
		flex-wrap: wrap;

		.transactions {
			h3 {
				margin-bottom: 10px;
				font-size: 20px;
			}
		}
		.transaction-list {
			flex-wrap: wrap;
		}
		.income-area,
		.expenses-area {
			width: 90%;
		}

		.transaction {
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			border-bottom: 1px solid $border-color;

			&-name {
				font-size: 18px;
			}
			i {
				margin-right: 10px;
			}
		}

		h2.title {
			margin-bottom: 40px;
			font-size: 20px;
		}
	}
	.add-transaction-panel {
		display: flex;
		justify-content: flex-start;

		h2.title {
			font-size: 20px;
			margin-bottom: 10px;
			margin-top: 100px;
		}
		label {
			margin-top: 20px;
			font-size: 18px;
		}
		small {
			font-size: 12px;
			text-align: center;
		}
		input,
		select {
			width: 250px;
			height: 40px;
		}
		input,
		select,
		button {
			padding: 10px 20px;
		}

		.panel-buttons {
			display: flex;
			justify-content: center;
			margin-top: 30px;
		}
		button {
			margin: 0 30px;
			font-size: 18px;
			color: #fff;
			border: 1px solid #fff;
			background: none;
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover {
				background-color: rgb(25, 27, 51);
			}
		}
	}
	.options {
		width: 300px;
	}
}

@media (max-width: 768px) {
	h1 {
		margin-top: 50px;
	}
	.color-buttons {
		display: flex;
	}

	.transaction {
		display: flex;
		flex-direction: row;
		padding: 10px 0;
		border-bottom: 1px solid $border-color;
	}
} ;
